@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "Poppins", cursive;
}
body {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
}

/* Sign In */
#signin-title,
#signup-title {
  color: black;
  font-family: "Kaushan Script", cursive;
}

@media only screen and (min-width: 800px) {
  #div-auth {
    width: 35%;
  }
}

@media only screen and (max-width: 400px) {
  #div-auth {
    width: 70%;
  }
}

#div-auth {
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
}
